<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/application.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.css">
  <title>Skill Inventory</title>
</head>
<body id="container">
  <section>
    <ul id="navigation">
      <li><a href="/">Your Dashboard</a></li>
      <li><a href="/skills">Everything you Know</a></li>
      <li><a href="/skills/new">Add something you know</a></li>
    </ul>
  </section>

  <section>
    <%= yield %>
  </section>
</body>
</html>
