<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/application.css">
  <title>Skill Inventory</title>
</head>
<body>
  <section>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/skills">Everything you Know</a></li>
      <li><a href="/skills/new">Add something you know</a></li>
    </ul>
  </section>
  <%= yield %>
</body>
</html>
