<section>
  <h1>Add Something to your Brain Trust</h1>

  <form action="/skills" method="post">
    <h3>Enter your new skill</h3>
      <input type="text" name="skill[name]"><br/>
    <h3>Describe your new skill</h3>
      <textarea name="skill[description]"></textarea><br/>

    <input type="submit">
  </form>

</section>
